*,::after,::before{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: #222;
}
.container{
    max-width:670px;
    margin: 0 auto;
}
.calc{
    display: grid;
    grid-template-columns: minmax(50px,55px)repeat(3,50px);
    grid-template-rows: minmax(40px,auto) 40px repeat(5,45px);
    gap:1px;
    margin-top:50px;
    margin-left:100px;
    .calc--input{
        grid-column:1/5;
    }
  .btn-reset{
        grid-column: 1/3;
        cursor: pointer;
        background-color: tomato;
    }
    .calc--btns.btn-back{
        grid-column:3/5
    }
    .calc--btns.btn-zero{
      grid-column: 1/3;
      background-color: tomato;
    }
    .calc--btns.btn-equal{
         grid-row:6/8;
         grid-column:4/5;
         background-color: tomato;
    }
    .calc--btns,.calc--input{
        border:1px solid black;
        outline: none;
        box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.3);

    }
    .calc--btns{
        cursor: pointer;

    }
    .calc--input{
   
     padding-top:15px;
    background-color: white;
     word-wrap: break-all;
     word-break: break-all;
    }
}